{% extends 'products/base.html'%}
{% load static %}

<title>{{ title }}</title>

{% block content %}

<!-- Boxes -->

<section>
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
            {% for product in products %}
              <div class="col">
                <div class="card h-100">
                  <img src="{{ product.image.url }}" class="card-img-top" alt="#">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.price }}</p>
                      <a href="{% url 'products:basket_add' product.id %}" class="btn btn-primary">В корзину</a>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}